.about-wrap {
	margin: 10px 20px 0 2px;
}

.intro {
	float: left;
	width: 100%;
}

div.updated.updated.gem-identity {
	background-image: url( '../images/gem.svg' );
	background-repeat: no-repeat;
	background-position: 15px 15px;
	background-size: 80px;
	display: block !important;
	padding-left: 110px !important;
}

div.updated.gem-identity p:first-child {
	color: #23282D;
	font-size: 1.1em;
	font-weight: bold;
}

.description .button {
	margin: 5px;
}

.description .button + .button {
	margin-left: 0px;
}

.col {
	float: left;
}

.col.banner {
	outline: 1px solid #ccc;
}

.col.banner img {
	margin-bottom: 0;
}

.panel {
	display: none;
	float: left;
	width: 100%;
}

.intro h1 {
	margin-right: 0;
	font-size: 1.53333em;
	margin: 0 0 15px 0;
	padding: 9px 15px 4px 0;
}

.intro h1 sup {
	background: #fff;
	color: #666;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	white-space: nowrap;
	vertical-align: top;
}

#help iframe {
	width: 100%;
	min-height: 800px;
	margin-top: 20px;
}

@media screen and (min-width: 783px) {
	#settings .form-table th {
		width: 30%;
	}
	#help iframe {
		margin-top: 10px;
	}
}

#setting-errors {
	float: left;
	width: 100%;
}

div.updated,
div.error,
.notice {
	display: none !important;
}

#setting-errors > div.updated,
#setting-errors > div.error,
#setting-errors > .notice {
	clear: both;
	display: block !important;
  margin-top: 1.25em;
}

code.gem-form-id {
	display: inline-block;
	margin-top: 1px;
	padding: 6px 10px 5px;
}

input.copied,
input.copied:focus {
	border-color: #46b450;
	box-shadow: 0 0 2px rgba( 70, 180, 80, 0.8 );
}

input.copied::selection {
	background-color: #d5f4d8;
}

input.copied::-moz-selection {
	background-color: #d5f4d8;
}

.button.copy-to-clipboard {
	display: inline-block;
	height: 30px;
	margin-top: 1px;
}

.mobile .button.copy-to-clipboard {
	display: none;
}

@media screen and (max-width: 782px) {
	.button.copy-to-clipboard {
		height: 38px;
		margin: 1px 1px 10px 1px;
		position: relative;
	}
}
