/* admin.css */
.mimi-identity {
	text-shadow: letter-spacing: -1px;
	text-shadow: 0 2px 0 #4FB3E1;
	position: relative;
	padding: 12px 12px 12px 200px;
	border: 1px solid #808080;
	border-radius: 3px;
	margin-top: 1em;
	background: #85C2F1 url( '../images/wp_graphic_200_2000.png' );
	background-repeat: no-repeat;
	background-position: 0 45%;
	font-family: 'Helvetica Neue', sans-serif;
	text-shadow: 0 2px 0 #4FB3E1;
	font-size: 16px;
	color: #FFF;
}

.mimi-identity h3 {
	font-size: 1.8em;
}

.mimi-muted {
	color: #1B7DB9;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.mimi-button {
	color:#FF4A4A;
	background: rgba(255, 255, 255, 0.4);
	padding: 3px;
}

.mimi-dismiss {
	position: absolute;
	right: 1em;
	color: #fff
}