div.updated.gem-identity {
	background-image: url( '../images/gem-voice.png' );
	background-repeat: no-repeat;
	background-position: 15px 20px;
	background-size: 50px;
	padding-left: 80px !important;
}