/* admin.css */

.mimi-identity {
	position: relative;
	padding: 12px 12px 12px 200px;
	border: 1px solid gray;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top: 1em;
	background-image: url(../images/city.png), url(../images/mimi-voice.png), -moz-linear-gradient(top,  rgba(50,200,255,0.21) 0%, rgba(255,255,255,1) 100%);
	background-image: url(../images/city.png), url(../images/mimi-voice.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,200,255,0.21)), color-stop(100%,rgba(255,255,255,1)))];
	background-image: url(../images/city.png), url(../images/mimi-voice.png), -webkit-linear-gradient(top,  rgba(50,200,255,0.21) 0%,rgba(255,255,255,1) 100%);
	background-image: url(../images/city.png), url(../images/mimi-voice.png), -o-linear-gradient(top,  rgba(50,200,255,0.21) 0%,rgba(255,255,255,1) 100%);
	background-image: url(../images/city.png), url(../images/mimi-voice.png), -ms-linear-gradient(top,  rgba(50,200,255,0.21) 0%,rgba(255,255,255,1) 100%);
	background-image: url(../images/city.png), url(../images/mimi-voice.png), linear-gradient(to bottom,  rgba(50,200,255,0.21) 0%,rgba(255,255,255,1) 100%));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3632c8ff', endColorstr='#ffffff',GradientType=0 );
	background-repeat: no-repeat;
	background-position: 0 45%;
	font-family: 'lucida grande', sans-serif;
}

.mimi-identity h3 {
	font-size: 2em;
	font-weight: normal;
	line-height: 1.3em;
	margin: 0.5em 0;
}
.mimi-identity h3 strong {
	color: rgb(209, 24, 24)
}

.mimi-muted {
	color: #999;
}

.mimi-dismiss {
	position: absolute;
	right: 1em;
}