div.updated.gem-identity {
	background-image: url( '../images/email-marketing.png' );
	background-repeat: no-repeat;
	background-position: 15px 20px;
	background-size: 80px;
	padding-left: 110px !important;
}