/* basic CSS styles */

/* === fields === */
.mimi-invalid {
	border: 1px solid red;
}

.mimi-field {
	display: block;
}

/* === messages === */
.mimi-error {
	background-color: #ffebe8;
	border: 1px solid #c00;
	padding: 0.5em 1em;
	margin: 0.6em 0;
	border-radius: 3px;
}