sudo: false

language: php

notifications:
  email:
    on_success: never
    on_failure: change

php:
  - 5.6
  - 7.1

env:
  - WP_VERSION=3.8 WP_MULTISITE=0
  - WP_VERSION=latest WP_MULTISITE=0
  - WP_VERSION=trunk WP_MULTISITE=0

addons:
  apt:
    packages:
      # Needed for `xmllint`.
      - libxml2-utils

matrix:
  fast_finish: true
  exclude:
    - php: 5.6
      env: WP_VERSION=3.8 WP_MULTISITE=0
    - php: 7.1
      env: WP_VERSION=3.8 WP_MULTISITE=0

install:
  - export DEV_LIB_PATH=dev-lib
  - if [ ! -e "$DEV_LIB_PATH" ] && [ -L .travis.yml ]; then export DEV_LIB_PATH=$( dirname $( readlink .travis.yml ) ); fi
  - if [ ! -e "$DEV_LIB_PATH" ]; then git clone https://github.com/xwp/wp-dev-lib.git $DEV_LIB_PATH; fi
  - source $DEV_LIB_PATH/travis.install.sh

script:
  - source $DEV_LIB_PATH/travis.script.sh

after_script:
  - source $DEV_LIB_PATH/travis.after_script.sh

before_deploy:
  - curl https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli-nightly.phar > /tmp/wp-cli.phar
  - chmod +x /tmp/wp-cli.phar
  - export RELEASE_FOLDER=godaddy-email-marketing-sign-up-forms
  - php /tmp/wp-cli.phar package install git@github.com:wp-cli/dist-archive-command.git --debug
  - cp -r ${TRAVIS_BUILD_DIR} /tmp/${RELEASE_FOLDER}
  - mv /tmp/${RELEASE_FOLDER} ${TRAVIS_BUILD_DIR}
  - php /tmp/wp-cli.phar dist-archive ${RELEASE_FOLDER} ${TRAVIS_BUILD_DIR}/${RELEASE_FOLDER}.zip --format=zip --debug

deploy:
  provider: releases
  api_key:
    secure: QjszjdBVY4X6n4aIjJyfd31vGdkmzfF/m80GnU3/ZpHZFtBsNab2mx4ZMp/8ZUcFtxtvGU9oRub9Q5GkYWRWDVErjJQbuoz89AsXqSJHrturY1rjOEYUG5oh7Kyi/TqKj+4eR/iGBq4eHS+D90/MLIpRQxU9CIPHUho4WbbRowVQ59RDBxcgW5lGlDoMAr4z0R/7eMN9HdVmcP43DHuPTDPLjevWiN9QdOLRB1dOwTWYaYQYanBp/NCKCR9JZPCBeX0lurnzNGhi+cWQremU/DRb3rfxejKTgQjX4g0DoC0VjjvySRl69W4Z/+fOayJV4szppgC2DoCiPHGnStLSkV5vuQPNphpHqi8uk6uge3FIXCWUJInPV2B9P8rG8ZvnUXHwhpv4p9yly8BOjQof6nQU/uNA6c6VWWnFC/KJfh+u3T3X9W1wTd/vJtM07/8NV4GQaHswhkFA3Bm8S71vLp5bPwtOvDp9YWC2TyZxxrHFCxgqz0zv6p9Iegkv1WPF7fxndZJPg5vqihv2D55zoPV5HqjABaHRoDbShrWz5cb1Re2FW25BrpubV+jnNMxPkL35B+z8/UlX3fT/VhXEyp54T0LcTDRSIT85Bx+Pcd8iHcDXXPY4Z6N4w7s+vTKB0Ayd5npiH8GxQtjANuUJi8htVIa7bbGpOyRf80SRRfM=
  file: "$TRAVIS_BUILD_DIR/$RELEASE_FOLDER.zip"
  skip_cleanup: true
  overwrite: true
  on:
    repo: godaddy/wp-godaddy-email-marketing
    php: '7.1'
    condition: "$WP_VERSION=trunk"
    tags: true
